h1, h2 {
    color: green;
  }
  
  p {
    color: gray;
  }
  
  ul {
    border: 20px solid orange;
  }
  
  ol {
    border: 2px solid purple;
  }
  
  ol, ul {
    padding: 50px 20px;
    border-radius: 100px;
  }
  
  h1, strong {
    color: purple;
  }
  
  em {
    color: gray;
  }